/* open-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    box-sizing: border-box;
}

h1, h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conteiner {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.btn {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 4px;
    background-color: #3172b9;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* Header */

.header {
    height: 110px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-logo {
    margin-right: 147px;
}

.header-navigation-list {
    display: flex;
    margin: auto;
}

.header-navigation-item:not(:last-child) {
    margin-right: 54px;
}

.header-navigation-item .item-link {
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
}

.item-link.active {
    color: #3172b9;
}

.header-btn {
    margin-left: 84px;
}

/* Offer section */

.section-offer {
   background-image: linear-gradient(90deg, white 58%, transparent), url(../img/Base.jpg) ;
   background-repeat: no-repeat no-repeat;
   background-position: right center;
   background-size: contain;
   border-top: 1px solid #e4e4e4;
}

.offer-container {
    padding-top: 124px;
    padding-bottom: 134px;
}

.offer-content {
    max-width: 45%;
}

.offer-title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;
}

.offer-description {
    width: 85%;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #787878;
}

.section-offer-action {
    display: inline-block;
}

.offer-link-btn {
    margin-bottom: 18px;
    padding: 23px 49px;
    font-size: 17px;
}

.offer-conteiner-ssl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    color: #787878;
}

.offer-ssl-icon {
    display: inline-block;
    margin-right: 13px;
    height: 17px;
    width: 14px;
    background: url(../img/Shield-icon.svg) center center no-repeat transparent;
    background-size: contain;
}

/* Services */

.section-services {
    padding-top: 140px;
    padding-bottom: 100px;
}

.services-title {
    font-size: 36px;
}

.services-description {
    margin-top: 36px;
    font-size: 16px;
}

.services-list {
    display: flex;
    margin-top: 53px;
}

.services-item:not(:last-child) {
    margin-right: 29px;
}

.services-item {
    outline: 1px solid red;
}

/* Footer */

.footer-social-icon {
    display: inline-block;
    width: 18px;
    height: 15px;
    background-image: url(../img/Twitter.svg);
    background-size: 18px 15px;
    background-repeat: no-repeat;
    color: black;
}